
.profile-icon-container{
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
}

.profile-inner-container p{
  padding-left: 15px;
  overflow: scroll;
}

.profile-inner-container {
  margin-right: 30px
}

.invitation-div{
  -webkit-box-shadow: 3px 3px 24px -9px rgba(156,156,156,1);
  -moz-box-shadow: 3px 3px 24px -9px rgba(156,156,156,1);
  box-shadow: 3px 3px 24px -9px rgba(156,156,156,1);
  background-color: white;
  color: #5875C4;
  flex-direction: column;
  padding: 5px 30px
}

.edit-profile-popup{
  position: fixed;
  background-color: white;
  min-height: 60vh;
  width: 80vw;
  border-radius: 5px;
  -webkit-box-shadow: 3px 3px 24px -9px rgba(156,156,156,1);
  -moz-box-shadow: 3px 3px 24px -9px rgba(156,156,156,1);
  box-shadow: 3px 3px 24px -9px rgba(156,156,156,1);
  top: 13vh;
  z-index: 2;
}

.input-profile{
  width: 70vw;
  vertical-align: middle;
  margin: auto;
}

.icon-profile-edit{
  vertical-align: middle;
  margin-right: 10px;
}

.input-profile-file{
  margin: auto;
  padding-top: 10px;
}

.profile-image{
  border-radius: 100px;
  height: 90px;
  background-size: cover;
}

.background-blue{
  background-color: #5875C4 !important;
  color: white !important;
}

#copy-button:active{
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  cursor: zoom-out;
}
